body{
  width: auto;
  height: auto;
  background-color: rgb(239, 242, 245);
  background-size: cover;
  background-position: center;
  font-family: 'Rubik', sans-serif;
  
}
html{
  width: auto;
  height: auto;
  background-color: rgb(239, 242, 245);
  background-size: cover;
  background-position: center;
  
}

.load {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}